POSTGRES_DB=incident_triage
POSTGRES_HOST=localhost
POSTGRES_USER=incident_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433
JWT_SECRET=REPLACE_WITH_BASE64_ENCODED_SECRET_OF_AT_LEAST_32_RANDOM_BYTES
